* {
    margin: 0px;
    padding: 0px;}

.gridwrapper {
display: grid;
width: 1080px;;
height: 1920px;

grid-template-areas:
    "hr hr hr "
    "as ae ae"
    "as ae ae"
    "fo fo fo"
    ;
}

.header {
grid-area: hr;
width: 1080px;
height: 220px;
background-color: aqua;
}

.aside {
    grid-area: as;
    width: 320px;
    height: 640px;
    background-color: blue;
}

.area {
    grid-area: ae;
    width: 720px;
    height: 640px;
    background-color: green;
}

.footer{
    grid-area: fo;
    width: 1080px;
    height: 200px;
    background-color: red;
}